<nav class="navbar navbar-expand-sm " style="background-color: rgb(39, 221, 39);height: 70px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo1.jpg" height="70" width="170" style="padding: -10px;margin-top: 0px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><h3>Home</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h3>Doctors</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h3>Patients</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h3>Staff</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h3>Billing</h3></a>
        </li>
        
      </ul>
      <form class="d-flex" style="margin-left:250px ;">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button"><i class="fa fa-login" aria-hidden="true" style="font-size: 28px"></i></button>&nbsp;
        <button class="btn btn-dark" type="button" style="border-radius: 30px;width: 150px;">Login</button>&nbsp;
        <button class="btn btn-dark" type="button" style="border-radius: 30px;width: 150px;">Register</button>
      </form>
    </div>
  </div>
</nav>
 <!-- page-header -->
 <div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                  <h1 class="page-title" style="font-size: 60px;">
                     
                  </h1>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section" style="background-image: url(../assets/h5.webp);">
  <div class="container" >
      <div class="card-block  mb30" style="background-color:rgb(102, 247, 102); ">
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <!-- section-title -->
                  <div class="section-title mb-0" style="margin-top: -20px;">
                    <h1 class="text-center">WELCOME TO HOSPITAL</h1><br>
                      <h1 class="text-center">The Highest Quality Healthcare.</h1>
                    
                      <p class="text-center text-black">Hospital management software is an online system that simplifies managing the functioning of hospital and any medication. HMS integrates all the data related to patients, doctors, staff,
                         hospitals etc. under one system. It is sectioned for numerous professionals that compose a hospital.</p>
                  </div>
                  <!-- /.section-title -->
              </div>
          </div>
      </div>
      </div>
      </div>
      
      <div class="row">
        <div class="container-fluid">
            
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin-top:0px ;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../assets/hospital.png" class="d-block w-100" alt="..." style="height: 600px;width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/back.jpg" class="d-block w-100" alt="..." style="height: 600px;width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/h2.gif" class="d-block w-100" alt="..." style="height: 600px;width:100%">
                  </div>
                  <div class="carousel-item ">
                    <img src="../assets/h3.jpg" class="d-block w-100" alt="..." style="height: 600px;width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/header.jpg" class="d-block w-100" alt="..." style="height: 600px;width:100%">
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>  
       </div>
       <div class="row">
        <h1 class="text-center" style="color: orangered;font-size: 60px;margin-top: -50px;"><b>Login To The Hospital  <span>&nbsp;
         
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
          <i class="fa fa-sign-in" aria-hidden="true" style="font-size:24px ;"></i>
        </button>
      </span></b></h1>
      </div>
    <br>
    <div class="row" style="background-color:white;background-image: url(../assets/h2.gif);">
        <div class="col-lg-1" style="margin-top: 20px;margin-left: 50px;">
         <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#ModalForm" style="margin-left: 60px;margin-top: -100px;">
           <i class="fa fa-plus" aria-hidden="true" style="font-size: 28px"></i>
         </button>
       </div>
       <div class="col-lg-11" style="margin-top: 0px;"></div>
       <div class="container">
         <div class="row" style="margin-top: 10px;margin-left: 70px;">
             <div class="col-md-offset-1 col-md-10">
                 <div class="panel" style="height:500px;width: 1000px;">
                     <div class="panel-heading">
                         <div class="row">
                             <div class="col col-sm-5 col-xs-12">
                                 <h4 class="title">Login Candidate <span>List</span></h4>
                             </div>
                             <div class="col-sm-7 col-xs-12 text-right">
                                 <div class="btn_group">
     
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-default" title="Reload"><i class="fa fa-sync"></i></button>
                                    <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                    <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let login of loginList;let idx=index">
                                    <td style="font-size: 20px;color:white;">{{login.loginemail}}</td>
                                    <td style="font-size: 20px;color: white;">{{login.password}}</td>
                                    <td style="font-size: 20px;color:white;">
                                        <ul class="action-list">
                                            <li><a href="#" data-tip="edit" (click)="edit(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                            <li><a href="#" data-tip="delete" (click)="delete(idx)"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <div class="row">
                                  
                          </div>
                      </div>
                  </div>
              </div>
             
            </div>
            <br>
            <br>
            <br>
          </div>
          </div>
          <!-- row 2 closed -->
    <!-- Register -->
    <div class="row">
      <h1 class="text-center" style="color: orangered;font-size: 50px;padding: 30px;">
        <b>Register To Our Hospital Mangement System</b>
     </h1>
      <br>
    </div>
    <br>
    <br>
    <div class="row" style="background-color:white;background-image: url(../assets/7.jpg);">
     <div class="col-lg-1" style="margin-top: 20px;margin-left: 50px;">
      <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#ModalForm1" style="margin-left: 130px;margin-top: -80px;">
        <i class="fa fa-plus" aria-hidden="true" style="font-size: 40px"></i>
      </button>
    </div>
    <div class="col-lg-11" style="margin-top: 40px;"></div>
    <div class="container">
      <div class="row" style="margin-top: -120px;margin-left: 70px;">
          <div class="col-md-offset-1 col-md-10">
              <div class="panel" style="height:500px;width: 1000px;">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col col-sm-5 col-xs-12">
                              <h4 class="title">Registered Candidate <span>List</span></h4>
                          </div>
                          <div class="col-sm-7 col-xs-12 text-right">
                              <div class="btn_group">
                                  <input type="text" class="form-control" placeholder="Search">
                                  <button class="btn btn-default" title="Reload"><i class="fa fa-sync"></i></button>
                                  <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                  <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Contact</th>
                                  <th>Email</th>
                                  <th>Address</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let register of registerList;let idx=index">
                                  <td style="font-size: 20px;color:white;">{{register.rname}}</td>
                                  <td style="font-size: 20px;color:white;">{{register.rcontact}}</td>
                                  <td style="font-size: 20px;color:white;">{{register.remail}}</td>
                                  <td style="font-size: 20px;color:white;">{{register.raddress}}</td>
                                  <td style="font-size: 20px;color:white;">
                                      <ul class="action-list">
                                          <li><a href="#" data-tip="edit" (click)="edit1(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm1"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                          <li><a href="#" data-tip="delete" (click)="delete1(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                      </ul>
                                  </td>
                              </tr>
                              <tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                
                        </div>
                    </div>
                </div>
            </div>
           
          </div>
          
          <br>
        </div>
        </div>
        <!-- Register Closed -->
         <!-- Teachers -->
    <div class="row">
      <h1 class="text-center" style="color: orangered;font-size: 50px;padding: 30px;margin-top: 10px;">
        <b>Our Hospital Doctors Details</b>
     </h1>
      <br>
    </div>
    <br>
    <br>
    <!-- row 5-->
    <div class="row" style="background-color:white;background-image: url(../assets/6.jpg);">
      <div class="col-lg-1" style="margin-top: -20px;margin-left: 50px;">
       <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#ModalForm2" style="margin-left: 100px;margin-top: -150px;">
         <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 40px;"></i>
       </button>
     </div>
     <div class="col-lg-11" style="margin-top: 50px;"></div>
    <div class="container">
      <div class="row" style="margin-top: -80px;margin-left: 70px;">
          <div class="col-md-offset-1 col-md-10">
              <div class="panel" style="height:500px;width: 1000px;">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col col-sm-5 col-xs-12">
                              <h4 class="title">Doctors Details <span>List</span></h4>
                          </div>
    
                          <div class="col-sm-7 col-xs-12 text-right">
                              <div class="btn_group">
                                  <input type="text" class="form-control" placeholder="Search">
                                  <button class="btn btn-default" title="Reload"><i class="fa fa-sync"></i></button>
                                  <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                  <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Full Name</th>
                                  <th>Doctor Id</th>
                                  <th>Contact</th>
                                  <th>Address</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let doctor of doctorsList;let idx=index">
                                  <td style="font-size: 20px;color: white;">{{doctor.tname}}</td>
                                  <td style="font-size: 20px;color: white;">{{doctor.tid}}</td>
                                  <td style="font-size: 20px;color: white;">{{doctor.tcontact}}</td>
                                  <td style="font-size: 20px;color: white;">{{doctor.taddress}}</td>
                                  <td style="font-size: 20px;color: white;">
                                      <ul class="action-list">
                                          <li><a href="#" data-tip="edit" (click)="edit2(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm2"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                          <li><a href="#" data-tip="delete" (click)="delete2(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                      </ul>
                                  </td>
                              </tr>
                              <tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                
                        </div>
                    </div>
                </div>
            </div>
           
          </div>
          <br>
         
        </div>
        </div>
    <!-- row 5 closed -->
     <!-- Students -->
     <div class="row">
      <h1 class="text-center" style="color: orangered;font-size: 50px;padding: 30px;margin-top: 10px;">
        <b>Our Patient Details</b>
     </h1>
      <br>
    </div>
    <br>
    <br>
    <div class="row" style="background-color:white;background-image: url(../assets/4.jpg);">
      <div class="col-lg-1" style="margin-top: 20px;margin-left: 50px;">
       <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#ModalForm3" style="margin-left: 100px;margin-top: -150px;">
         <i class="fa fa-users" aria-hidden="true" style="font-size: 40px;"></i>
       </button>
     </div>
     <div class="col-lg-11" style="margin-top: 50px;"></div>
    <div class="container">
      <div class="row" style="margin-top: -120px;margin-left: 70px;">
          <div class="col-md-offset-1 col-md-10">
              <div class="panel" style="height:500px;width: 1000px;">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col col-sm-5 col-xs-12">
                              <h4 class="title">Patient Details <span>List</span></h4>
                          </div>
    
                          <div class="col-sm-7 col-xs-12 text-right">
    
                              <div class="btn_group">
                                  <input type="text" class="form-control" placeholder="Search">
                                  <button class="btn btn-default" title="Reload"><i class="fa fa-sync"></i></button>
                                  <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                  <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Patient Name</th>
                                  <th>Patient Problem</th>
                                  <th>Contact</th>
                                  <th>Address</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let patient of patientList;let idx=index">
                                  <td style="font-size: 20px;color:white">{{patient.sname}}</td>
                                  <td style="font-size: 20px;color: white">{{patient.sprob}}</td>
                                  <td style="font-size: 20px;color: white">{{patient.scontact}}</td>
                                  <td style="font-size: 20px;color: white">{{patient.saddress}}</td>
                                  <td style="font-size: 20px;color:white">
                                      <ul class="action-list">
                                          <li><a href="#" data-tip="edit" (click)="edit3(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm3"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                          <li><a href="#" data-tip="delete" (click)="delete3(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                      </ul>
                                  </td>
                              </tr>
                              <tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                
                        </div>
                    </div>
                </div>
            </div>
           
          </div>
          <br>
          
        </div>
        </div>
    <!-- row 6 closed -->
     <!-- Staff -->
     <div class="row">
      <h1 class="text-center" style="color: orangered;font-size: 50px;padding: 30px;margin-top: 10px;">
        <b>Our Hospital Staff Details</b>
     </h1>
      <br>
    </div>
    <br>
    <br>
    <div class="row" style="background-color:white;">
      <div class="col-lg-1" style="margin-top: 50px;margin-left: 40px;">
       <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#ModalForm4" style="margin-left: 100px;margin-top: -150px;">
         <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 50px;"></i>
       </button>
     </div>
     <div class="col-lg-11" style="margin-top: 20px;"></div>
    <div class="container">
      <div class="row" style="margin-top: -120px;margin-left: 70px;">
          <div class="col-md-offset-1 col-md-10">
              <div class="panel" style="height:500px;width: 1000px;">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col col-sm-5 col-xs-12">
                              <h4 class="title">Staff Details <span>List</span></h4>
                          </div>
    
                          <div class="col-sm-7 col-xs-12 text-right">
    
                              <div class="btn_group">
    
                                
                                  <input type="text" class="form-control" placeholder="Search">
                                  <button class="btn btn-default" title="Reload"><i class="fa fa-sync"></i></button>
                                  <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                  <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Staff Name</th>
                                  <th>Staff Id</th>
                                  <th>Contact</th>
                                  <th>Address</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let staff of staffList;let idx=index">
                                  <td style="font-size: 20px;color: white;">{{staff.fname}}</td>
                                  <td style="font-size: 20px;color: white;">{{staff.fid}}</td>
                                  <td style="font-size: 20px;color: white;">{{staff.fcontact}}</td>
                                  <td style="font-size: 20px;color: white;">{{staff.faddress}}</td>
                                  <td style="font-size: 20px;color: white;">
                                      <ul class="action-list">
                                          <li><a href="#" data-tip="edit" (click)="edit4(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm4"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                          <li><a href="#" data-tip="delete" (click)="delete4(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                      </ul>
                                  </td>
                              </tr>
                              <tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                
                        </div>
                    </div>
                </div>
                
                <br>
            </div>
           
          </div>
          <br>
         
        </div>
        </div>
     <!-- Students -->
     <div class="row">
      <h1 class="text-center" style="color: orangered;font-size: 50px;padding: 30px;margin: 10px;">
        <b>Our Payment Details</b>
     </h1>
      <br>
    </div>
    <br>
    <br>
    <div class="row" style="background-color:white;">
      <div class="col-lg-1" style="margin-top: 20px;margin-left: 50px;">
       <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#ModalForm5" style="margin-left: 100px;margin-top: -150px;">
         <i class="fa fa-envelope-open-o" aria-hidden="true" style="font-size: 40px;"></i>
       </button>
     </div>
     <div class="col-lg-11" style="margin-top: 50px;"></div>
    <div class="container">
      <div class="row" style="margin-top: -120px;margin-left: 70px;">
          <div class="col-md-offset-1 col-md-10">
              <div class="panel" style="height:500px;width: 1000px;">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col col-sm-5 col-xs-12">
                              <h4 class="title">Billing Details <span>List</span></h4>
                          </div>
    
                          <div class="col-sm-7 col-xs-12 text-right">
    
                                <div class="btn_group">
                                  <input type="text" class="form-control" placeholder="Search">
                                  <button class="btn btn-default" title="Reload"><i class="fa fa-sync"></i></button>
                                  <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                  <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Patient Name</th>
                                  <th>Contact No.</th>
                                  <th>Problem</th>
                                  <th>Exam Fees</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let bill of billList;let idx=index">
                                  <td style="font-size: 20px;color: white;">{{bill.ename}}</td>
                                  <td style="font-size: 20px;color:white;">{{bill.econtact}}</td>
                                  <td style="font-size: 20px;color: white;">{{bill.eprob}}</td>
                                  <td style="font-size: 20px;color:white;">{{bill.efees}}</td>
                                  <td style="font-size: 20px;color: white;">
                                      <ul class="action-list">
                                          <li><a href="#" data-tip="edit" (click)="edit5(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm5"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                          <li><a href="#" data-tip="delete" (click)="delete5(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                      </ul>
                                  </td>
                              </tr>
                              <tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                
                        </div>
                    </div>
                </div>
            </div>
           
          </div>
          <br>
          <br>
        </div>
        </div>
    <!-- row 7 closed -->
    
    
        
        <br>
        <br>
        <div class="container-fluid">
    
          <footer class=" text-center text-lg-start text-white" style="margin-left: 20px;background-color: rgb(35, 107, 35);" >
            <!-- Grid container -->
            <div class="container-fluid" style="width:1800px ;margin-left: 20px;">
              <!--Grid row-->
              <div class="row my-4">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-left: 100px;margin-top: 10px;"> 
        
                  <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 120px; height: 120px;">
                    <img src="../assets/logo.jpg" height="80" alt=""
                         loading="lazy" />
                  </div>
        
                  <p class="text-center text-white ">Best Healthcare Cnetre.
                    We provide you the world best treatment.
                  </p>
        
                  <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                      <a class="text-white px-2" href="#!">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                    </li>
                    <li>
                      <a class="text-white px-2" href="#!">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a class="text-white ps-2" href="#!">
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li>
                  </ul>
        
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-4 text-white" style="margin-top:20px ;">Services Provided</h5>
        
                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Heart Treatment</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Brain Treatment</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Body Treatment</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Full Body Checkup</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Surgeries</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Dental treatment</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Hairfall Treatment</a>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
        
                
        
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-4 text-white" style="margin-top: 20px;">Contact</h5>
        
                  <ul class="list-unstyled text-white">
                    <li>
                      <p class="text-white"><i class="fas fa-map-marker-alt pe-2 text-white"></i>Warsaw, 57 Street, Poland</p>
                    </li>
                    <li>
                      <p class="text-white"><i class="fas fa-phone pe-2 text-white"></i>+ 01 234 567 89</p>
                    </li>
                    <li>
                      <p class="text-white"><i class="fas fa-envelope pe-2 mb-0 text-white"></i>contact@example.com</p>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          </footer>
        
        </div>
        <!-- End of .container -->
    
    
    <!-- Modal Login -->
    <div class="modal" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
          <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="myform bg-dark">
                    <h1 class="text-center text-white">Login Form</h1>
                   
                        
                        <div class="mb-3 mt-4">
                          <label class="form-label text-white">Username</label>
                          <input type="text" class="form-control"  [(ngModel)]="loginemail">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input type="text" class="form-control" [(ngModel)]="password">
                      </div>
                        <button type="submit" class="btn btn-success mt-3" (click)="submit()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked=='no'" [disabled]="loginemail == '' || password == ''" style="background-color:green;">LOGIN</button>
                        <button type="submit" class="btn btn-danger mt-3" (click)="clear()" style="background-color:red;">CANCEL</button>
                        <button type="submit" class="btn btn-warning mt-3" (click)="update()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked=='yes'" [disabled]="loginemail == '' || password == '' " style="background-color:orange;">UPDATE</button>
                </div>
            </div>
          </div>
        </div>
      </div>
          <!-- login Closed -->
        <!-- Modal Register-->
    <div class="modal" id="ModalForm1" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
        <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="myform bg-dark">
                  <h1 class="text-center text-white">Register Form</h1>
                 
                      <div class="mb-3 mt-4">
                          <label class="form-label">Full Name</label>
                          <input type="text" class="form-control"  [(ngModel)]="rname">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Contact No.</label>
                          <input type="password" class="form-control" [(ngModel)]="rcontact">
                      </div>
                      <div class="mb-3 mt-4">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control"  [(ngModel)]="remail">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="raddress">
                    </div>
                      <button type="submit" class="btn btn-success mt-3" (click)="submit1()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked1=='no'" [disabled]="rname == '' || rcontact == '' || remail == '' || rcontact == ''" style="background-color:green;">REGISTER</button>
                      <button type="submit" class="btn btn-danger mt-3" (click)="clear1()" style="background-color:red;">CANCEL</button>
                      <button type="submit" class="btn btn-warning mt-3" (click)="update1()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked1=='yes'" [disabled]="rname == '' || rcontact == '' || remail == '' || rcontact == '' " style="background-color:orange;">UPDATE</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal closed -->
    <!-- Doctors -->
    <div class="modal fade" id="ModalForm2" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
        <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="myform bg-dark">
                  <h1 class="text-center text-white">Doctors Details Form</h1>
                 
                      <div class="mb-3 mt-4">
                          <label class="form-label">Doctor Name</label>
                          <input type="text" class="form-control"  [(ngModel)]="tname">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Doctor Id</label>
                          <input type="password" class="form-control" [(ngModel)]="tid">
                      </div>
                      <div class="mb-3 mt-4">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control"  [(ngModel)]="tcontact">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contact No.</label>
                        <input type="text" class="form-control" [(ngModel)]="taddress">
                    </div>
                      <button type="submit" class="btn btn-success mt-3" (click)="submit2()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked2=='no'" [disabled]="tname == '' || tid == '' || tcontact == '' || taddress == ''" style="background-color:green;">SUBMIT</button>
                      <button type="submit" class="btn btn-danger mt-3" (click)="clear2()" style="background-color:red;">CANCEL</button>
                      <button type="submit" class="btn btn-warning mt-3" (click)="update2()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked2=='yes'" [disabled]="tname == '' || tid == '' || tcontact == '' || taddress == ''" style="background-color:orange;">UPDATE</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal teachers -->
    <!-- Patients -->
    <div class="modal fade" id="ModalForm3" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
        <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="myform bg-dark">
                  <h1 class="text-center text-white">Patients Information Details</h1>
                 
                      <div class="mb-3 mt-4">
                          <label class="form-label">Patient Name</label>
                          <input type="text" class="form-control"  [(ngModel)]="sname">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Problem</label>
                          <input type="password" class="form-control" [(ngModel)]="sprob">
                      </div>
                      <div class="mb-3 mt-4">
                        <label class="form-label">Contact No.</label>
                        <input type="text" class="form-control"  [(ngModel)]="scontact">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Residential Address</label>
                        <input type="text" class="form-control" [(ngModel)]="saddress">
                    </div>
                      <button type="submit" class="btn btn-success mt-3" (click)="submit3()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked3=='no'" [disabled]="sname == '' || sprob == '' || scontact == '' || saddress == ''" style="background-color:green;">SUBMIT</button>
                      <button type="submit" class="btn btn-danger mt-3" (click)="clear3()" style="background-color:red;">CANCEL</button>
                      <button type="submit" class="btn btn-warning mt-3" (click)="update3()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked3=='yes'" [disabled]="sname == '' || sprob == '' || scontact == '' || saddress == ''" style="background-color:orange;">UPDATE</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal closed -->
    <!-- Modal staff -->
    <div class="modal fade" id="ModalForm4" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
        <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="myform bg-dark">
                  <h1 class="text-center text-white">Staff Form</h1>
                 
                      <div class="mb-3 mt-4">
                          <label class="form-label">Full Name</label>
                          <input type="text" class="form-control"  [(ngModel)]="fname">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Staff Id</label>
                          <input type="password" class="form-control" [(ngModel)]="fid">
                      </div>
                      <div class="mb-3 mt-4">
                        <label class="form-label">Contact No.</label>
                        <input type="text" class="form-control"  [(ngModel)]="fcontact">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" [(ngModel)]="faddress">
                    </div>
                      <button type="submit" class="btn btn-success mt-3" (click)="submit4()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked4=='no'" [disabled]="fname == '' || fcontact == '' || fid == '' || faddress == ''" style="background-color:green;">SUBMIT</button>
                      <button type="submit" class="btn btn-danger mt-3" (click)="clear4()" style="background-color:red;">CANCEL</button>
                      <button type="submit" class="btn btn-warning mt-3" (click)="update4()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked4=='yes'" [disabled]="fname == '' || fcontact == '' || fid == '' || faddress == '' " style="background-color:orange;">UPDATE</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--student  modal closed -->
    <!-- Modal Billing -->
    <div class="modal fade" id="ModalForm5" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
        <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="myform bg-dark">
                  <h1 class="text-center text-white">Bill Details</h1>
                 
                      <div class="mb-3 mt-4">
                          <label class="form-label">Patient Name</label>
                          <input type="text" class="form-control"  [(ngModel)]="ename">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Contact No.</label>
                          <input type="password" class="form-control" [(ngModel)]="econtact">
                      </div>
                      <div class="mb-3 mt-4">
                        <label class="form-label">Problem</label>
                        <input type="text" class="form-control"  [(ngModel)]="eprob">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Amount Paid</label>
                        <input type="text" class="form-control" [(ngModel)]="efees">
                    </div>
                      <button type="submit" class="btn btn-success mt-3" (click)="submit5()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked5=='no'" [disabled]="ename == '' || econtact == '' || eprob == '' || efees == ''" style="background-color:green;">SUBMIT</button>
                      <button type="submit" class="btn btn-danger mt-3" (click)="clear5()" style="background-color:red;">CANCEL</button>
                      <button type="submit" class="btn btn-warning mt-3" (click)="update5()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked5=='yes'" [disabled]="ename == '' || econtact == '' || eprob == '' || efees == ''" style="background-color:orange;">UPDATE</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal closed -->
      
        